body
{ 
    font-family: 'Titillium Web';
    margin: 0px;
    display: flex;
    color: white;
}


#contenitore 
{
    width: 60%; 
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: black;
    border-radius: 1.5%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px gray;
    /*
    translate(-50%, -50%) è una funzione di trasformazione CSS 
    che sposta un elemento lungo gli assi X (orizzontale) e Y (verticale).
    -50% rappresenta la metà della larghezza e dell'altezza dell
    'elemento. Quando applichiamo -50% come valore sia per l'asse X
    che per l'asse Y, spostiamo l'elemento in modo che il suo centro co
    incida con il centro del contenitore padre.
    */
}

#titolo
{
    height: 15%;
    display: flex;
    flex-direction: column;
}



#tit1
{
    font-weight: bold;
    font-size: 300%;
}




#titolo p
{
    margin: 0.5%;
    margin-left: 1.5%;
}

#elenco
{
    height: 85%;
    display: flex;
    flex-direction: column;
}


.nome
{
    color: white;
}


.sommario
{
    margin: 1.7%;
}