body
{
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
}

#titolo
{
    
}

#intestazione
{
    display: flex;
    background-color: white;
    color: black;
}

#corpo
{

}

#titolo
{

}