body
{
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
    background-image:url(ads.jpg);
}

#titolonotizia
{
    font-weight: bold;
    
}

#intestazione
{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size:80%;
    position: sticky;
    top: 0px;
    left: 0px;
}


#intsin
{
    display: flex;
    align-items: center;
    width: 40%;
}



#intsin div
{
    display: flex;
    align-items: center;
    margin: 2%;
}


#intdes div
{
    display: flex;
    align-items: center;
    margin: 2%;
}

#intdes img
{
    width: 10%;
    height: 10%;
    
}
#intcen
{
   text-align: center;
   width: 10%;
}

#intdes
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

#contint
{    
    width: 100%;
    display: flex;
}

#notizia1
{
    text-align: left;
    display: flex;
    align-items: center;
}
#notizia2
{
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#notizia2 img
{
    width: 30%;
    height: 15%;
}
#notizia1 img
{
    width: 30%;
    height: 15%;
}
#titoli
{
    display: flex;
    flex-direction: column;
}

#titoli2
{
    display: flex;
    flex-direction: column;
}

#titolonotizia
{
    font-family: Serif;
    font-size:150%;
    font-weight: bold;
}

#titolonotizia2
{
    font-family: Serif;
    font-size:150%;
    font-weight: bold;
}

#incidente
{
    font-size: 150%;
}
#titolosez
{
    width: 80%;
    background-color: lightgray;
    margin-right: 2%;
    text-align: center;
    font-weight: bold;
}

#videocont
{
    background-color: lightgray;
    width: 20%;
}


#contnot
{
    width: 100%;
    height: max-content;
}

.elenco
{
    display: flex;
    justify-content: space-evenly;
}

#meteo
{
   display: flex;
   width: 80%;
   justify-content: center;
   align-items: center;
}

#titolo div img
{
    width: 50%;
    height: 100%;
}

#titolo 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenitore
{
    margin: 9%;
    background-color: white;
    
}

#banner
{
    background-color: #35414f;
    height: 25%;
    font-size: larger;
    color: white;
}


#banner div img
{
    width: 25%;
    height: 15%;
    margin: 1%;
}

#banner div
{
    display: flex;
    margin: 1%;

}


