body
{ 
    margin: 0px;
    display: flex;
}
#contenitore 
{
    width: 80%; 
    height: 90%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: black;
    border-radius: 1.5%;
    display: flex;
    /*
    translate(-50%, -50%) è una funzione di trasformazione CSS 
    che sposta un elemento lungo gli assi X (orizzontale) e Y (verticale).
    -50% rappresenta la metà della larghezza e dell'altezza dell
    'elemento. Quando applichiamo -50% come valore sia per l'asse X
    che per l'asse Y, spostiamo l'elemento in modo che il suo centro co
    incida con il centro del contenitore padre.
    */
}

#contencont
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

#contencont div
{
    border-radius: 3px;
    background-color: rgb(73, 73, 73);
    width: 40%;
    height: 30%;
    margin: 3%;
}


